[submodule "zsh/.zplug"]
	path = zsh/.zplug
	url = https://github.com/zplug/zplug.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "neovim/.local/share/nvim/site/autoload"]
	path = neovim/.local/share/nvim/site/autoload
	url = https://github.com/junegunn/vim-plug.git
